<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); %>
    <link rel="stylesheet" href="css/home.css">
    <title>Welcome</title>

    <body>
        <%- include('layouts/Navbar'); %>
            <div class="container home pb-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">About me</h2>
                        <p class="text-silver"> <%= profile.description%></p>
                        <h6 class="mb-1"><b>Contact me:</b></h6>
                        <ul>
                            <li>Email: <%= profile.email%></li>
                            <li>Phone:  <%= profile.phone%></li>
                            <li>Zalo:  <%= profile.zalo%></li>
                        </ul>
                        <div class="d-flex">
                            <a style="text-decoration: none;" href="https://www.facebook.com/tan.tandy.79" target="_blank"> <i class="fab fa-facebook-f icon"></i></a>
                            <a style="text-decoration: none;" href="https://www.facebook.com/tan.tandy.79" target="_blank"> <i class="fab fa-instagram icon"></i></a>
                            <a style="text-decoration: none;" href="https://www.facebook.com/tan.tandy.79" target="_blank"> <i class="fab fa-twitter icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark home pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title">
                                My projects
                            </h2>
                        </div>
                        <% for (let index=0; index < projects.length; index++) { %>
                            <div data-aos="fade-up" class="col-lg-4 col-md-6">
                                <div class="card project">
                                    <a href="/project/detail/<%= projects[index]._id %>">
                                        <img src=<%=projects[index].thumb %> alt="" class="card-image w-100">
                                    </a>
                                    <div class="card-body">
                                        <h6 class="text-center">
                                            <%= projects[index].name%>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <div class="col-12">
                                    <button onclick="window.location.href='/project' " class="btn-view-all">
                                        View All
                                    </button>
                                </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid home bg-black">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">
                            My work
                        </h2>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="container">
                            <div class="d-flex flex-wrap justify-content-center">
                                <% for (let index=1; index <= 10; index++) { %>
                                    <div data-aos="zoom-in-up" class="col-6 col-lg-3 col-xl-3 col-md-6" style="padding: 10px;">
                                        <div class="card" style="padding: 8px;" >
                                            <div class="work">
                                                <img data-bs-toggle="modal" data-bs-target="#id<%= index%>" src="/img/<%= index%>.png" alt="" class="card-image work-image w-100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fade modal modal-mid" id="id<%= index%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-long">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img data-bs-toggle="modal" src="/img/<%= index%>.png" alt="" class="w-100">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid home bg-danger">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">Service</h2>
                    </div>
                </div>
                <div class="container pb-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card bg-white service">
                                <i class="fal fa-camcorder"></i>
                                <div class="card-body">
                                    <h6 class="text-center text-dark text-bold mb-2">
                                        <b>Service name</b>
                                    </h6>
                                    <p class="text-silver text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis modi
                                        enim voluptas maxime?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-white service">
                                <i class="fal fa-calendar-star"></i>
                                <div class="card-body">
                                    <h6 class="text-center text-dark text-bold mb-2">
                                        <b>Event</b>
                                    </h6>
                                    <p class="text-silver text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis modi
                                        enim voluptas maxime?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-white service">
                                <i class="fal fa-thumbs-up"></i>
                                <div class="card-body">
                                    <h6 class="text-center text-dark text-bold mb-2">
                                        <b>Reputation</b>
                                    </h6>
                                    <p class="text-silver text-center">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis modi
                                        enim voluptas maxime?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <script>
        AOS.init({
        offset: 100, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 1000 // values from 0 to 3000, with step 50ms
      });
    </script>
</html>