<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('layouts/header'); %>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <%- include('layouts/menu-bar'); %>
      <div class="col-auto">
        <div class="container-fluid pt-5">
          <div class="row">
            <div class="col-12">
              <a href="/admin/livestream/add" class="btn-add">Thêm Livestream</a>
            </div>
            <% for (let index=0; index < projects.length; index++) { %>
              <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-4">
                <div class="project rounded" style="padding: 15px; background-color: #222020;">
                  <img src=<%=projects[index].thumb %> alt="" class="thumb">
                  <div class="d-flex">
                    <h5 class="mt-3 mb-3 project-name">
                      <%= projects[index].name %>
                    </h5>
                  </div>
                  <div class="d-flex justify-content-between">
                    <button onclick="editPj(<%= JSON.stringify(projects[index]._id) %>)" id="btn" class="btn btn-edit"> <i class="fal fa-pen me-2"></i>Chỉnh sửa </button>
                    <button data-bs-toggle="modal" data-bs-target="#id<%= projects[index]._id %>" class="btn-delete"> <i
                        class="fal fa-trash-alt me-2"></i> Xoá </button>

                  </div>
                  <div class="modal fade" id="id<%= projects[index]._id %>" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-danger" id="exampleModalLabel"><b><i class="fal fa-exclamation-circle me-2"></i>Xác nhận</b></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h6 class="text-dark">
                            Bạn có chắc muốn xóa <b>
                              <%= projects[index].name %>
                            </b>
                          </h6>
                        </div>
                        <div class="d-flex justify-content-end" style="padding: 10px;">
                          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Hủy</button>
                          <button onclick="deletePj(<%= JSON.stringify(projects[index]._id) %>, <%= JSON.stringify(projects[index].imageId) %>)" data-bs-dismiss="modal" type="button" class="btn btn-danger">Đồng ý</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const deletePj = (id, publicId) => {
    fetch(`/project/delete-livestream/${id}/${publicId}`, {method: 'DELETE'})
      .then((res) => {
        console.log(res)
        if (res.status === 400) {
          alert('Đã xảy ra lỗi, không thể xóa!')
        } else {
          window.location.reload()
        }
      })
      .catch((err) => {
        alert('Đã xảy ra lỗi, không thể xóa!')
        console.log(err);
      })
  }
  const editPj = (id) => {
    window.location.href = '/admin/livestream/edit/' + id
  }
</script>

</html>